:root {
	--main1: #405d72;
	--main2: #758694;
	--secondary1: #f7e7dc;
	--secondary2: #fff8f3;
}

* {
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: var(--main1);
}

.section-con {
	padding: 10px;
	border-radius: 3px;
	background-color: var(--secondary2);
}

a {
	text-decoration: none;
	font-weight: bold !important;
}

a:hover {
	text-decoration: underline !important;
	transition: 0.5s;
}
