* {
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #758694;
}

.section-con {
	padding: 10px;
	border-radius: 3px;
	background-color: #fff8f3;
}

a {
	text-decoration: none;
	font-weight: bold !important;
}

a:hover {
	text-decoration: underline !important;
	transition: 0.5s;
}
